@page "/dashboard"

<h3>Mas componentes</h3>

<button class="btn btn-primary" @onclick="OpenAnimationModal">Visa Sensory Branding</button>
<TNVisaSensoryBranding @ref="Modal"></TNVisaSensoryBranding>

@code {
    private TNVisaSensoryBranding Modal { get; set; }

    private async Task OpenAnimationModal()
    {
        await Modal.Open();
    }
}
