<header class="navbar-header">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="full-screen"><a href="" onclick="javascript:ToggleFullScreen()" @onclick:preventDefault><i class="feather icon-maximize"></i></a></li>
            <li class="toggle-menu"><a href="" onclick="javascript:ToggleMenu()" @onclick:preventDefault><i class="feather icon-menu"></i></a></li>
        </ul>
        <span class="page-detail">
            Nombre
        </span>
        <ul class="navbar-nav">
            <li>
                <div class="dropdown">
                 
                    <div class="dropdown-menu dropdown-menu-right profile">
                        <!--<AuthorizeView>
                    <Authorizing>
                        <text>...</text>
                    </Authorizing>
                    <Authorized>
                        <div class="profile-head">-->
                        @*<img src="_content/FTPymes.Client.Web.BlazorShared/assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">*@
                        <!--<span>@context.User.Identity.Name</span>-->
                        @*<a href="/Logout" class="dud-logout" title="Logout">
                        <i class="feather icon-log-out"></i>
                    </a>*@
                        <!--</div>
                    </Authorized>
                </AuthorizeView>-->
                        <ul class="profile-body">
                            <li><a href="/profile" class="dropdown-item"><i class="feather icon-user"></i> Mi Perfil</a></li>
                            <li><a href="/Logout" class="dropdown-item"><i class="feather icon-log-out"></i> Cerrar Sesión</a></li>
                            @*<li><a href="message.html" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>
                        <li><a href="auth-signin.html" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li>*@
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <i class="icon feather icon-bell"></i>
                        @*@if (Notifications.Where(q => !q.Read).Any())
                    {
                        <span class="blob red"></span>
                    }*@
                    </a>
                    <div class="dropdown-menu dropdown-menu-right notification">
                        <div class="notification-head">
                            <span class="text-uppercase">Notificaciones</span>
                            <div class="float-right">
                                <a href="/notifications"><i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                        <ul class="notification-body">
                            @*@if (!Notifications.Where(q => !q.Read).Any())
                        {
                            <li class="p-3">
                                <span class="text-muted">No hay notificaciones pendientes por revisar</span>
                            </li>
                        }
                        else
                        {
                            @foreach (var notification in Notifications.Where(q => !q.Read).OrderByDescending(q => q.AddedDate).Take(10))
                            {
                                <li>
                                    <a href="" class="dropdown-item d-flex align-items-center" @onclick="@(() => ReadNotification(notification))" @onclick:preventDefault>
                                        <i class="fas fa-circle text-danger"></i> @notification.Text
                                    </a>
                                </li>
                            }
                        }*@
                        </ul>
                        <div class="notification-footer">
                            <a href="/notifications">Mostrar Todas</a>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</header>


@code {

}
