@inherits LayoutComponentBase

<NavMenu />

<HeaderBar />

<main>
    <div class="main-container">
        <div class="main-content">
            <div class="page-wrapper">
                @Body
            </div>
        </div>
    </div>
</main>

<TNBottomNavbar ListNavbarItems="ListBottomNavbarItem"/>

<!-- Older IE warning message -->
<!--[if lt IE 11]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade
           <br/>to any of the following web browsers to access this website.
        </p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="_content/TN.Client.Web.BlazorShared/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="_content/TN.Client.Web.BlazorShared/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="_content/TN.Client.Web.BlazorShared/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="_content/TN.Client.Web.BlazorShared/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="_content/TN.Client.Web.BlazorShared/assets/images/browser/ie.png" alt="">
                        <div>IE (11 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
<![endif]-->
<!-- Warning Section Ends -->

@code {
    public List<BottomNavbarItem> ListBottomNavbarItem = new();
    protected override void OnInitialized()
    {
        //AlertMessage = new AlertMessage();
        ListBottomNavbarItem.Add(new BottomNavbarItem() { Text = "Remesas", Icon = "icon-globe", Url = "dashboard" });
        //ListBottomNavbarItem.Add(new BottomNavbarItem() { Text = "Transferencias", Icon = "icon-home", URL = "" });
        ListBottomNavbarItem.Add(new BottomNavbarItem() { Text = "Servicios", Icon = "icon-briefcase", Url = "components" });
        ListBottomNavbarItem.Add(new BottomNavbarItem() { Text = "Información", Icon = "icon-credit-card", Url = "components2" });


    }

    //public AlertMessage AlertMessage { get; set; } = new AlertMessage();
}
