@{
	ViewBag.Title = "Error 404";
	ViewBag.Description = "Error 404";
	Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="@ViewBag.Description">
	<meta name="author" content="">
	<link rel="icon" href="~/images/favicon.ico">

	<title>@ViewBag.Title</title>

	<partial name="_ValidationStylesPartial">
</head>
<body class="hold-transition">

	<section class="h-p100 bg-light">
		<div class="container h-p100">
			<div class="row h-p100 align-items-center justify-content-center">

				<div class="col-12">
					<div class="box main-agileits text-center bg-transparent no-shadow">
						<h1 class="font-size-80 text-warning font-weight-bold"><em>404</em></h1>
						<h2 class="font-size-50 text-dark">Error página no encontrada</h2>
						<p class="para-wthree mx-auto">Lo sentimos, no fue posible encontrar la página solicitada.</p>

						<div class="d-block">
							<a href="@Url.Action("Index", "Home", new { Area = "Home" })" class="btn btn-info mt-10"><i class="fa fa-home"></i> Inicio</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>
