<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-light">
	<!-- Create the tabs -->
	<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
		<li class="nav-item"><a href="#control-sidebar-home-tab" data-toggle="tab" class="active"><i class="fa fa-home"></i></a></li>
		<li class="nav-item"><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-cog fa-spin"></i></a></li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<!-- Home tab content -->
		<div class="tab-pane active" id="control-sidebar-home-tab">
			<h3 class="control-sidebar-heading">Acerca</h3>
			<ul class="control-sidebar-menu">
				<li>
					<a href="javascript:void(0)">
						<i class="menu-icon fa fa-minus bg-primary"></i>
						<div class="menu-info">
							<h4 class="control-sidebar-subheading">Versión</h4>

							<p>1.0.0</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="menu-icon fa fa-envelope-o bg-info"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">Soporte</h4>

							<p>soporte@demo.com</p>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="menu-icon fa fa-file-code-o bg-success"></i>

						<div class="menu-info">
							<h4 class="control-sidebar-subheading">Desarrollado por:</h4>

							<p>Transnetwork</p>
						</div>
					</a>
				</li>
			</ul>
			<!-- /.control-sidebar-menu -->

		</div>
		<!-- /.tab-pane -->
		<!-- Stats tab content -->
		<div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
		<!-- /.tab-pane -->
		<!-- Settings tab content -->
		<div class="tab-pane" id="control-sidebar-settings-tab">
			<form method="post">
				<h3 class="control-sidebar-heading">Configuración General</h3>

				<div class="form-group">
					<input type="checkbox" id="report_panel" class="chk-col-grey" checked onclick="return false;">
					<label for="report_panel" class="control-sidebar-subheading ">Usuario administrador</label>

					<p>
						Acceso total a la plataforma
					</p>
				</div>
				<!-- /.form-group -->

				<div class="form-group">
					<input type="checkbox" id="expose_author" class="chk-col-grey" onclick="return false;">
					<label for="expose_author" class="control-sidebar-subheading ">Usuario Cliente</label>

					<p>
						Acceso limitado a opciones operativas
					</p>
				</div>
				<!-- /.form-group -->
				<div class="form-group">
					<input type="checkbox" id="allow_mail" class="chk-col-grey" checked onclick="return false;">
					<label for="allow_mail" class="control-sidebar-subheading ">Correo configurado</label>

					<p>
						Notificaciones habilitadas
					</p>
				</div>
				<!-- /.form-group -->
			</form>
		</div>
		<!-- /.tab-pane -->
	</div>
</aside>
<!-- /.control-sidebar -->