@{
	var profileImage = User?.Claims?.FirstOrDefault(q=>q.Type == "picture").Value ?? "";
}
<header class="main-header">
	<!-- Sidebar toggle button-->
	<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
		<span class="sr-only">Toggle navigation</span>
	</a>
	<!-- Logo -->
	<div class="logo text-white">
		<h2>TN</h2>
	</div>
	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top">
		<div class="ml-10 app-menu">
			<ul class="header-megamenu nav">
				<li class="btn-group nav-item">
					<a href="#" class="nav-link rounded" data-provide="fullscreen" title="Full Screen">
						<i class="mdi mdi-crop-free"></i>
					</a>
				</li>
			</ul>
		</div>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<!-- Control Sidebar Toggle Button -->
				<li>
					<a class="control-btn" href="#" data-toggle="control-sidebar"><i class="ti-settings"></i></a>
				</li>
				<!-- Messages -->
				<li class="dropdown messages-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="ti-email"></i><span class="label label-success">5</span>
					</a>
					<ul class="dropdown-menu scale-up">
						<li class="header">Notificaciones</li>
						<li>
							<!-- inner menu: contains the actual data -->
							<ul class="menu inner-content-div">
								<li>
									<!-- start message -->
									<a href="#">
										<div class="pull-left">
											<img src="../images/user3-128x128.jpg" class="rounded-circle" alt="User Image"/>
										</div>
										<div class="mail-contnet">
											<h4>
												Lorem Ipsum
												<small><i class="fa fa-clock-o"></i> 15 mins</small>
											</h4>
											<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
										</div>
									</a>
								</li>
								<!-- end message -->
								<li>
									<a href="#">
										<div class="pull-left">
											<img src="../images/user3-128x128.jpg" class="rounded-circle" alt="User Image">
										</div>
										<div class="mail-contnet">
											<h4>
												Nullam tempor
												<small><i class="fa fa-clock-o"></i> 4 hours</small>
											</h4>
											<span>Curabitur facilisis erat quis metus congue viverra.</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="pull-left">
											<img src="../images/user4-128x128.jpg" class="rounded-circle" alt="User Image">
										</div>
										<div class="mail-contnet">
											<h4>
												Proin venenatis
												<small><i class="fa fa-clock-o"></i> Today</small>
											</h4>
											<span>Vestibulum nec ligula nec quam sodales rutrum sed luctus.</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="pull-left">
											<img src="../images/user3-128x128.jpg" class="rounded-circle" alt="User Image">
										</div>
										<div class="mail-contnet">
											<h4>
												Praesent suscipit
												<small><i class="fa fa-clock-o"></i> Yesterday</small>
											</h4>
											<span>Curabitur quis risus aliquet, luctus arcu nec, venenatis neque.</span>
										</div>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="pull-left">
											<img src="../images/user4-128x128.jpg" class="rounded-circle" alt="User Image">
										</div>
										<div class="mail-contnet">
											<h4>
												Donec tempor
												<small><i class="fa fa-clock-o"></i> 2 days</small>
											</h4>
											<span>Praesent vitae tellus eget nibh lacinia pretium.</span>
										</div>
									</a>
								</li>
							</ul>
						</li>
						<li class="footer"><a href="#">Ver todas las notificaciones</a></li>
					</ul>
				</li>
				<!-- User Account-->
				<li class="dropdown user user-menu">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img src="@profileImage" class="user-image rounded-circle b-2" alt="">
					</a>
					<ul class="dropdown-menu scale-up">
						<!-- Menu Body -->
						<li class="user-body bt-0">
							<div class="row no-gutters">
								<div class="col-12 text-left">
									<a href="#"><i class="ion ion-person"></i> Perfil</a>
								</div>
								<div class="col-12 text-left">
									<a href="#"><i class="ion ion-settings"></i> Ajustes</a>
								</div>
								<div role="separator" class="divider col-12"></div>
								<div class="col-12 text-left">
									<a asp-controller="Account" asp-action="Logout"><i class="fa fa-power-off"></i> Salir</a>
								</div>
							</div>
							<!-- /.row -->
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>