@page "/"
@namespace TN.Client.Mobile.BlazorServer.Pages

<div id="components-reconnect-modal" class="reconnect-modal components-reconnect-hide">
    <div class="show">
        <div class="alert alert-warning" role="alert">
            Intentando restablecer la conexión con el servidor...
            <div class="alert-content">
                <div class="spinner-border text-warning m-l-10" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="failed">
        <div class="alert alert-danger" role="alert">
            No fue posible restablecer la conexión con el servidor. Intenta recargando la página.
            <div class="alert-content">
                <button type="button" class="btn btn-rounded btn-danger" onclick="location.reload();">Recargar Página</button>
            </div>
        </div>
    </div>
    <div class="rejected">
        <div class="alert alert-danger" role="alert">
            Conexión rechazada por el servidor. Intenta recargando la página.
            <div class="alert-content">
                <button type="button" class="btn btn-rounded btn-danger" onclick="location.reload();">Recargar Página</button>
            </div>
        </div>
    </div>
</div>

<app>
    <!-- Si no se quiere que cargue 2 veces la primera vez usar Render Mode: Server. Fuente: https://stackoverflow.com/questions/58075628/why-are-blazor-lifecycle-methods-getting-executed-twice -->
    <component type="typeof(App)" render-mode="ServerPrerendered" />
</app>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        Ha ocurrido un error inesperado. Esta aplicación no responderá más hasta que recargue la página.
    </environment>
    <environment include="Development">
        Ha ocurrido un error inesperado. Mirá el tab de dev tools del navegador para más detalles.
    </environment>
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>
