<div id="testCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#testCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#testCarousel" data-slide-to="1" class=""></li>
        <li data-target="#testCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-8 col-xl-6 mb-5">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <label class="text-secondary">Info de prueba 1: </label>
                                        <span>10.00 USD</span>
                                    </div>

                                    <div>
                                        <label class="control-label">Info de prueba 2: </label>
                                        <span>1.00 USD</span>
                                    </div>

                                    <div>
                                        <label class="control-label">Info de prueba 3: </label>
                                        <span>9.00 USD</span>
                                    </div>

                                    <div>
                                        <label class="control-label">Info de prueba 4: </label>
                                        <span>0.00 USD</span>
                                    </div>

                                    <div>
                                        <label class="control-label">Info de prueba 5: </label>
                                        <span>Lorem Impsum Lorem Impsum</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <label class="text-secondary">Info de prueba 1: </label>
                                        <span>23.15 EUR</span>
                                    </div>

                                    <div>
                                        <label class="control-label">Info de prueba 2: </label>
                                        <span>63.00 EUR</span>
                                    </div>

                                    <div>
                                        <label class="control-label">Info de prueba 3: </label>
                                        <span>15.00 EUR</span>
                                    </div>

                                    <div>
                                        <label class="control-label">Info de prueba 4: </label>
                                        <span>0.65 EUR</span>
                                    </div>

                                    <div>
                                        <label class="control-label">Info de prueba 5: </label>
                                        <span>Lorem Impsum Lorem Impsum</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <label class="text-secondary">Info de prueba 1: </label>
                                        <span>1,500.00 CRC</span>
                                    </div>

                                    <div>
                                        <label class="control-label">Info de prueba 2: </label>
                                        <span>600.00 CRC</span>
                                    </div>

                                    <div>
                                        <label class="control-label">Info de prueba 3: </label>
                                        <span>30.00 CRC</span>
                                    </div>

                                    <div>
                                        <label class="control-label">Info de prueba 4: </label>
                                        <span>1.00 CRC</span>
                                    </div>

                                    <div>
                                        <label class="control-label">Info de prueba 5: </label>
                                        <span>Lorem Impsum Lorem Impsum</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#testCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#testCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

@code {

}
