<div class="spinner-border spinner-border-sm mr-1" style="width: @(Size)rem;height: @(Size)rem;" role="status">
    <span class="sr-only">@ApplicationConstant.Loading</span>
</div>

@code {
    [Parameter] public short Size { get; set; } = 1;
}