<button @ref="Reference" type="submit" class="@Class" disabled="@(Disabled || Processing)">
    @if (Processing)
    {
        <span class="spinner-border spinner-border-sm" role="status"></span>
        @(ChildContent is not null ? "Procesando..." : "")
    }
    else
    {
        @if (Icon != null)
        {
            <i class="@Icon"></i>
        }
        @ChildContent
    }
</button>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Class { get; set; } = "btn btn-primary";
    [Parameter] public string Icon { get; set; }
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public bool Processing { get; set; } = false;

    private ElementReference Reference;

    public async Task FocusAsync() => await Reference.FocusAsync();
}