<CascadingValue Value="this">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                @foreach (var tabPage in TabPages)
                {
                    <li class="nav-item">
                        <a class="nav-link @GetTabClass(tabPage)" data-toggle="pill" role="tab" @onclick=@(() => OnClick(tabPage))>
                            @tabPage.Title
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="tab-content" id="pills-tabContent">
        @ChildContent
    </div>
</CascadingValue>

@code
{
    [Parameter] public RenderFragment ChildContent { get; set; }

    public TabPage ActiveTabPage { get; set; }
    private List<TabPage> TabPages = new List<TabPage>();

    internal void AddPage(TabPage tabPage)
    {
        TabPages.Add(tabPage);

        if (TabPages.Count == 1)
            ActiveTabPage = tabPage;

        StateHasChanged();
    }

    protected string GetTabClass(TabPage tabPage)
    {
        return tabPage == ActiveTabPage ? "active" : "";
    }

    protected void OnClick(TabPage tabPage)
    {
        ActiveTabPage = tabPage;
    }
}