<div class="navbar-brand">
    <a href="/dashboard">
        <img src="https://teledolar.com/wp-content/uploads/2021/03/Logo-TD.svg" />
    </a>
    <a href="" class="close-menu" onclick="javascript:ToggleMenu()" @onclick:preventDefault><i class="feather icon-x"></i></a>
</div>

@code {
    [CascadingParameter] private NavMenu NavMenu { get; set; }

    protected override void OnInitialized()
    {
        if (NavMenu == null)
            throw new ArgumentNullException(nameof(NavMenu), "TNNavTenant must exist within a NavMenu");

        base.OnInitialized();
    }
}
