.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--white-color);
    border-top: 1px solid var(--primary-color);
    font-weight: bold;
    font-size: smaller;
}

.container-fluid {
/*    justify-content: space-evenly;*/
    display: flex;
    padding: 0;
    flex-wrap: initial;
}

.nav-link {
    justify-items: center;
    display: grid;
    color: var(--text-color);
    width: 100%;
    border-bottom: 4px solid var(--white-color);
}

    .nav-link.active {
        color: var(--primary-color) !important;
        text-decoration: none;
        border-bottom: 4px solid var(--primary-color);
    }

/* Menú Mobile & Tablet */
@media (min-width: 768px) {
    .navbar{
        display:none;
    }
}