.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--white-color);
    border-top: 0.1px ridge var(--dark-gray-color);
    font-weight: bold;
    font-size: smaller;
}

.container-fluid {
/*    justify-content: space-evenly;*/
    display: flex;
    padding: 0;
    flex-wrap: initial;
}

.nav-link {
    justify-items: center;
    display: grid;
    color: var(--secondary-color);
    width: 100%;
}

.nav-link.active {
    color: var(--secondary-hover-color) !important;
    text-decoration: none;
}

/* Menú Mobile & Tablet */
@media (min-width: 768px) {
    .navbar{
        display:none;
    }
}