<CascadingValue Value="this">
    <div class="row">
        <div class="col-12">
            <div class="wizard-control">
                @foreach (var wizardStep in WizardSteps)
                {
                    <div class="wizard-step @GetStepClass(wizardStep)">
                        <a href="" @onclick:preventDefault @onclick=@(() => OnClick(wizardStep))>
                            @wizardStep.Title
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    @ChildContent
</CascadingValue>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    public TNWizardStep ActiveWizardStep { get; set; }
    private List<TNWizardStep> WizardSteps = new List<TNWizardStep>();

    internal void AddPage(TNWizardStep wizardStep)
    {
        WizardSteps.Add(wizardStep);

        if (WizardSteps.Count == 1)
            ActiveWizardStep = wizardStep;

        StateHasChanged();
    }

    protected string GetStepClass(TNWizardStep wizardStep)
    {
        var activeWizardStep = WizardSteps.IndexOf(ActiveWizardStep);
        var currentWizardStep = WizardSteps.IndexOf(wizardStep);

        if (activeWizardStep > currentWizardStep)
            return "inactive";
        else if (activeWizardStep < currentWizardStep)
            return "disabled";
        else
            return "active";
    }

    protected void OnClick(TNWizardStep wizardStep)
    {
        ActiveWizardStep = wizardStep;
    }

    public bool DisableButton(TNWizardStep wizardStep, string button, bool disabled)
    {
        var index = WizardSteps.IndexOf(wizardStep);

        if (button == "back" && index == 0)
            return true;

        //if (button == "next" && index == WizardSteps.Count - 1)
        //    return true;

        return disabled;
    }

    public void Back(TNWizardStep wizardStep)
    {
        var index = WizardSteps.IndexOf(wizardStep) - 1;

        if (index >= 0)
            ActiveWizardStep = WizardSteps[index];

        this.StateHasChanged();
    }

    public void Next(TNWizardStep wizardStep)
    {
        var index = WizardSteps.IndexOf(wizardStep) + 1;

        if (index < WizardSteps.Count)
            ActiveWizardStep = WizardSteps[index];

        this.StateHasChanged();
    }
}