@using System.Globalization;
@{
	ViewData["Title"] = "Página de inicio";
}

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="box bg-light">
				<div class="flexbox align-items-center px-20" data-overlay="4">
					<div class="flexbox align-items-center mr-auto">
						<a href="#">
							<img class="avatar avatar-xl avatar-bordered" src="../../images/avatar/4.jpg" alt="">
						</a>
						<div class="pl-10 d-none d-md-block">
							<span>Bienvenido </span>
							<h4 class="mb-0"><a class="hover-primary" href="#">Roben Clark</a></h4>
						</div>
					</div>

					<ul class="flexbox flex-justified text-center py-20">
						<li class="px-10">
							<span class="opacity-60">@DateTime.Now.DayOfWeek.ToString(),</span><br>
							<span class="font-size-20">@DateTime.Now.Day @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(DateTime.Now.Month)</span>
						</li>
					
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-12">
			<div class="box pull-up">
				<div class="box-body py-40">
					<div class="text-center">
						<h6 class="text-fade mb-20">Your Balance</h6>
						<h1>$125,000</h1>
						<h6 class="text-fade mb-10">Total</h6>
						<button type="button" class="btn btn-rounded btn-primary mt-10 btn-sm">Statistics</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4 col-12">
			<div class="box pull-up">
				<div class="box-body py-40">
					<div class="text-center">
						<h6 class="text-fade mb-20">Your saving this month</h6>
						<h1>+$3,5000</h1>
						<h6 class="text-fade mb-10">of your $2,600 goal.</h6>
						<button type="button" class="btn btn-rounded btn-success mt-10 btn-sm">Adjust Goal</button>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-4 col-12">
			<div class="box pull-up">
				<div class="box-body px-0 py-30">
					<div class="text-center">
						<span class="donut" data-peity='{ "fill": ["#fda006", "#eeeeee"],"innerRadius": 78, "radius": 86.5 }'>1/4</span>
						<div class="ovd">
							<h1 class="mb-0">1/4</h1>
							<p>Overdue invoices</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="row">
				<div class="col-md-3 col-12">
					<div class="box box-primary pull-up">
						<div class="box-body">
							<div class="d-flex align-items-center font-size-24">
								<div class="icon">
									<i class="mdi mdi-star-circle text-white mr-10"></i>
								</div>
								<p class="font-weight-medium mb-0 text-white">Sales</p>
							</div>
							<div class="d-flex align-items-center flex-wrap">
								<h3 class="font-weight-normal text-white">96587</h3>
								<div class="badge badge-outline badge-pill ml-10">
									<div class="d-flex align-items-baseline">
										<span class="mr-2">High</span>
										<span class="mb-0">485</span>
										<span class="mdi mdi-arrow-up"></span>
									</div>
								</div>
							</div>
							<p class="font-weight-medium d-block text-white-70 mb-0">Total for this month</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12">
					<div class="box box-info pull-up">
						<div class="box-body">
							<div class="d-flex align-items-center font-size-24">
								<div class="icon">
									<i class="mdi mdi-truck text-white mr-10"></i>
								</div>
								<p class="font-weight-medium mb-0 text-white">Investment</p>
							</div>
							<div class="d-flex align-items-center flex-wrap">
								<h3 class="font-weight-normal text-white">85469</h3>
								<div class="badge badge-outline badge-pill ml-10">
									<div class="d-flex align-items-baseline">
										<span class="mr-2">High</span>
										<span class="mb-0">563</span>
										<span class="mdi mdi-arrow-up"></span>
									</div>
								</div>
							</div>
							<p class="font-weight-medium d-block text-white-70 mb-0">Total for this month</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12">
					<div class="box box-warning pull-up">
						<div class="box-body">
							<div class="d-flex align-items-center font-size-24">
								<div class="icon">
									<i class="mdi mdi-basket text-white mr-10"></i>
								</div>
								<p class="font-weight-medium mb-0 text-white">Gold</p>
							</div>
							<div class="d-flex align-items-center flex-wrap">
								<h3 class="font-weight-normal text-white">74589</h3>
								<div class="badge badge-outline badge-pill ml-10">
									<div class="d-flex align-items-baseline">
										<span class="mr-2">Low</span>
										<span class="mb-0">123</span>
										<span class="mdi mdi-arrow-down"></span>
									</div>
								</div>
							</div>
							<p class="font-weight-medium d-block text-white-70 mb-0">Total for this month</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-12">
					<div class="box box-danger pull-up">
						<div class="box-body">
							<div class="d-flex align-items-center font-size-24">
								<div class="icon">
									<i class="mdi mdi-package-down text-white mr-10"></i>
								</div>
								<p class="font-weight-medium mb-0 text-white">Bond</p>
							</div>
							<div class="d-flex align-items-center flex-wrap">
								<h3 class="font-weight-normal text-white">2548</h3>
								<div class="badge badge-outline badge-pill ml-10">
									<div class="d-flex align-items-baseline">
										<span class="mr-2">Low</span>
										<span class="mb-0">235</span>
										<span class="mdi mdi-arrow-down"></span>
									</div>
								</div>
							</div>
							<p class="font-weight-medium d-block text-white-70 mb-0">Total for this month</p>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="box">
						<div class="box-body">
							<div class="flexbox align-items-center justify-content-between d-lg-flex d-block">
								<div>
									<h4 class="font-weight-700 text-dark">$125,498,894</h4>
									<h6 class="text-fade">This year total earning </h6>
								</div>
								<div>
									<h4 class="font-weight-700 text-info">$41,832,964 </h4>
									<h6 class="text-fade">Markham Ontario, CA</h6>
								</div>
								<div>
									<h4 class="font-weight-700 text-success">$32,749,448</h4>
									<h6 class="text-fade">Neglinnaya Street, RUS</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

	
