.container-firstpage {
    height: 100vh;
    background: linear-gradient(0deg, var(--primary-color), var(--secondary-color)) !important;
}


.top-section {
    position: fixed;
    bottom: 66vh;
    height: 40px;
    width: 100%;
    background-color: red;
    z-index: 10;
}

.vl {
    border-left: 1px solid grey;
    height: 24px;
    margin-left: 12px;
    margin-right: 12px;
}



.logo {
    height: 0;
    right: 0;
    left: 0;
    bottom: 80vh;
    position: fixed;
    margin: auto;
    text-align: -webkit-center;
    animation-name: logo-animation;
    animation-duration: 0.8s;
    animation-timing-function: linear;
}

@keyframes logo-animation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    25% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(300px);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.header-with-logo {
    height: 0;
    width: 100%;
    max-width: 500px;
    /* background: url('headerwithlogo.png') center center / cover; */
    right: 0;
    left: 0;
    bottom: 80vh;
    position: fixed;
    margin: auto;
    animation-name: header-with-logo-animation;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    text-align: -webkit-center;
}

@keyframes header-with-logo-animation {
    0% {
        transform: translateY(600px);
        opacity: 0;
        /* bottom: 50vh; */
    }

    50% {
        transform: translateY(300px);
        opacity: 0;
        /* bottom: 50vh; */
    }

    75% {
        opacity: 0.;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        bottom: 80vh;
    }
}

.header-with-logo .circle {
    width: 140px;
    height: 140px;
    background: linear-gradient(0deg, var(--primary-color), var(--secondary-color));
    border-radius: 50%;
}

.circle-logo {
    width: 138px;
    height: 134px;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: 3px;
    position: relative;
    background-image: url('assets/images/logo-rounded.png');
    background-position: center;
    background-size: cover;
    margin-left:2px;
}

.info-container {
    height: 70vh;
    width: 100%;
    max-width: 500px;
    background: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    padding: 4%;
    animation-name: item-up;
    animation-duration: 0.8s;
    animation-timing-function: linear;
}

@keyframes item-up {
    0% {
        transform: translateY(600px);
        opacity: 0;
    }

    50% {
        transform: translateY(300px);
        opacity: 0;
    }

    70% {
        opacity: 0.4;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.info-container .heading {
    margin-top: 20px;
}

    .info-container .heading h1 {
        font-size: 1.6rem;
        font-weight: bolder;
    }

    .info-container .heading p {
        margin-top: 3px;
    }

.info-container .login-form {
    padding-top: 0;
    padding-bottom: 0;
}

    .info-container .login-form .form-input {
        position: relative;
        margin-bottom: 10px;
    }

        .info-container .login-form .form-input ion-item::part(native) {
            padding-left: 0;
        }

        .info-container .login-form .form-input ion-icon {
            position: absolute;
            top: 37px;
            z-index: 2;
            font-size: 1.2rem;
            left: 5px;
        }

        .info-container .login-form .form-input ion-label {
            position: absolute;
            margin-left: 35px;
            font-weight: bolder;
            font-size: 0.8rem;
            top: 3px;
        }

        .info-container .login-form .form-input ion-input {
            font-size: 0.9rem;
            --padding-start: 36px;
            --padding-top: 36px;
            color: #7b7b7b;
        }

.info-container .form-container {
    text-align: center;
}
    .info-container .form-container p {
        margin-top: 3px;
    }

.exchange-container {
    height: 16vh;
    width: 100%;
    max-width: 500px;
    background: #F2F2F2;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    padding: 4%;
}

@media screen and (min-height: 700px) and (max-height: 800px) {
    .info-container .heading {
        margin-top: 0;
    }

        .info-container .heading h1 {
            margin-top: 0;
        }

        .info-container .heading p {
            margin-top: 10px;
        }

    .info-container .form-container .request-button {
        margin-top: 20px;
    }
}

@media screen and (min-height: 568px) and (max-height: 700px) {
    .info-container .heading {
        margin-top: 0;
    }

        .info-container .heading h1 {
            margin-top: 10px;
        }

        .info-container .heading p {
            margin-top: 0;
            margin-bottom: 0;
        }

    .info-container .login-form {
        padding-top: 0;
        padding-bottom: 0;
    }

    .info-container .form-container .login-button {
        height: 34px;
    }

    .info-container .form-container .request-button {
        height: 34px;
        margin-top: 20px;
    }
}

